{{extend 'layout.html'}}
<head>
    <style>
        ul {list-style-type: none;}
        ul {padding: 0;}
        ul {margin: 0;}
    </style>
</head>
<section>
<h2>All Professors</h2>
<ul>
{{=H4("A")}}
{{for pr in profs:}}
    {{if pr.name.startswith("A"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("B")}}
{{for pr in profs:}}
    {{if pr.name.startswith("B"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("C")}}
{{for pr in profs:}}
    {{if pr.name.startswith("C"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("D")}}
{{for pr in profs:}}
    {{if pr.name.startswith("D"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("E")}}
{{for pr in profs:}}
    {{if pr.name.startswith("E"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("F")}}
{{for pr in profs:}}
    {{if pr.name.startswith("F"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("G")}}
{{for pr in profs:}}
    {{if pr.name.startswith("G"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("H")}}
{{for pr in profs:}}
    {{if pr.name.startswith("H"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("I")}}
{{for pr in profs:}}
    {{if pr.name.startswith("I"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("J")}}
{{for pr in profs:}}
    {{if pr.name.startswith("J"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("K")}}
{{for pr in profs:}}
    {{if pr.name.startswith("K"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("L")}}
{{for pr in profs:}}
    {{if pr.name.startswith("L"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("M")}}
{{for pr in profs:}}
    {{if pr.name.startswith("M"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("N")}}
{{for pr in profs:}}
    {{if pr.name.startswith("N"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("O")}}
{{for pr in profs:}}
    {{if pr.name.startswith("O"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("P")}}
{{for pr in profs:}}
    {{if pr.name.startswith("P"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("Q")}}
{{for pr in profs:}}
    {{if pr.name.startswith("Q"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("R")}}
{{for pr in profs:}}
    {{if pr.name.startswith("R"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("S")}}
{{for pr in profs:}}
    {{if pr.name.startswith("S"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("T")}}
{{for pr in profs:}}
    {{if pr.name.startswith("T"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("U")}}
{{for pr in profs:}}
    {{if pr.name.startswith("U"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("V")}}
{{for pr in profs:}}
    {{if pr.name.startswith("V"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("W")}}
{{for pr in profs:}}
    {{if pr.name.startswith("W"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("X")}}
{{for pr in profs:}}
    {{if pr.name.startswith("X"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("Y")}}
{{for pr in profs:}}
    {{if pr.name.startswith("Y"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
{{=H4("Z")}}
{{for pr in profs:}}
    {{if pr.name.startswith("Z"):}}
        {{=LI(A(pr.name, _href=URL("professor",args=[pr.id])))}}
        {{pass}}
    {{pass}}
 </ul>
</section>
